.menu-container {
    position: absolute;
    background-color: #90DF3E;
    color: #fff;
    top: -439px;
    left: 0;
    /* right: -175px; */
    border-top-right-radius: 8px;
    transition: top 300ms ease-in-out;
}

.menu-container.inactive {
    top: 0;
}

.menu {
    position: relative;
    min-width: 175px;
    max-width: 175px;
    transition: margin 300ms ease-in-out;
}

.main-nav .nav-item {
    margin-bottom: 1rem;
    color: #fff !important;
}

.menu.inactive {
    margin-left: -175px;
}

.menu-button {
    position: absolute;
    top: -48px;
    left: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #90DF3E;
    border-color:  #90DF3E;
    color: #fff;
    padding: .5rem 1.5rem;
}

.menu-button:hover {
    color: #f0f0f0;
    transform: scale(1.1),rotate(90deg)
}



/* MEDIA QUERIES - following Bootstrap max-width breakpoints */
@media screen and (min-width: 992px) {
    .menu-container {
        top: unset;
        left: unset;
        bottom: 36px;
        right: -175px;
        border-top-right-radius: 8px;
        transition: right 300ms ease-in-out;
    }
    
    .menu-container.inactive {
        top: unset;
        right: 0;
    }
    
    .menu {
        position: relative;
        min-width: 175px;
        max-width: 175px;
        transition: margin 300ms ease-in-out;
    }
    
    .main-nav .nav-item {
        margin-bottom: 1rem;
    }
    
    .menu.inactive {
        margin-left: -175px;
    }
    
    .menu-button {
        position: absolute;
        top: unset;
        left: unset;
        bottom: 21px;
        right: -77px;
        transform: rotate(90deg);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: .5rem 1.5rem 1rem;
    }
}
