.guess-display {
    position: relative;
    display: flex;
    width: 100%;
    height: 300px;
    z-index: 20;
}

.guess-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    z-index: 2;
    background-color: #4C87C0;
    box-shadow: 3px 0px 20px 3px #666;
}

.guess-container h1 {
    text-align: center;
    margin-bottom: .5rem;
    font-family: 'Concert One', sans-serif;
    color: #fff;
}

.form-container {
    flex: 1 0 auto;
}

.score-container {
    display: block;
}

input[type="text"] {
    width: 100%; 
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.all-countries {
    overflow-y: scroll;
    margin-bottom: 0.5rem;
}

.list-item {
    text-align: center;
    line-height: 1;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
}

.all-countries {
    border: 1px solid gray;
    max-height: 78px;
}

.timer-container {
    display: flex;
}

.timer-container h1 {
    flex: 1 0 50%;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto
}

/* MEDIA QUERIES - following Bootstrap max-width breakpoints */
@media screen and (min-width: 992px) {
    .guess-display {
        max-width: 330px;
        min-width: 330px;
        height: 100vh;
    }

    .guess-container h1 {
        text-align: left;
        margin-bottom: 2rem;
    }

    .all-countries {
        max-height: unset;
        margin-bottom: 2rem;
    }

    .timer-container {
        display: block;
    }

    .buttons-container {
        flex-direction: row
    }
}